:root {
  --ifm-color-primary: #ec3f73;
  --ifm-color-primary-dark: #a52c51;
  --ifm-color-primary-darker: #5e192e;
  --ifm-color-primary-darkest: #2f0d17;
  --ifm-color-primary-light: #ee5281;
  --ifm-color-primary-lighter: #f0658f;
  --ifm-color-primary-lightest: #f2799d;
  --ifm-code-background: #fbf9fa;
  --ifm-heading-color: #1f1c1d;
  --ifm-font-color-base: #1f1c1d;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #1f1c1d;
  --ifm-footer-background-color: #1f1c1d;
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-secondary);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.language-php .token.plain-text {
  color: inherit;
}
